<!DOCTYPE html>
<html lang-"en" ng-app="store">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="./styles/style.css" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header class="navigation">
			<nav id="navbar">
				<section id="logo">
					<h1>Flatlander's Gem Store</h1>
				</section>
			</nav>
		</header>
		<main>
		<div ng-controller="StoreController as store">
			<div ng-repeat="product in store.products">
				<div ng-if="$index % 3 == 0" class="clearfix"></div>
					<div class="col-md-4 panel-primary">
						<ul class="list-group">
							<li class="item list-group-item">
								<h3><product-title></product-title></h3>
					
								<product-gallery></product-gallery>

								<product-panel></product-panel>
							</li> 
						</ul>
					</div>
				</div>
			</div>
		</main>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="./app.js"></script>
		<script type="text/javascript" src="products.js"></script>
	</body>
</html>