<section>
	<ul class="tabs">
		<li ng-class="{active: panel.isSelected(1)}"> 
			<a href ng-click="panel.selectTab(1)">Description</a>
		</li>
		<li ng-class="{active:panel.isSelected(2)}"> 
			<a href ng-click="panel.selectTab(2)">Specifictions</a>
		</li>
		<li ng-class="{active:panel.isSelected(3)}"> 
			<a href ng-click="panel.selectTab(3)">Reviews</a>
		</li>
	</ul>
	<div class="panel" ng-show="panel.isSelected(1)">
		<h4>Description</h4>
		<p>{{product.description}}</p>
	</div>
	<div class="panel" ng-show="panel.isSelected(2)">
		<h4>Specifications</h4>
		<blockquote>
			<p class="specs"> Shine: {{product.shine}}</p>
			<p class="specs"> Rarity: {{product.rarity}}</p>
			<p class="specs"> Color: {{product.color}}</p>
			<p class="specs"> Faces: {{product.faces}}</p>
		</blockquote>
	</div>
	<div class="panel" ng-show="panel.isSelected(3)">
		<h4>Reviews</h4>
		<blockquote ng-repeat="review in product.reviews">
			<b> Stars: {{review.stars}}</b>
			<p>{{review.body}}</p>
			<cite>-{{review.author}}</cite>
		</blockquote>
		<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
			<blockquote>
				<b> Stars: {{reviewCtrl.review.stars}}</b>
				<p>{{reviewCtrl.review.body}}</p>
				<cite>-{{reviewCtrl.review.author}}</cite>
			</blockquote>
			<div class="form-inline">
				<div class="form-group">
					<label for="rate-item">Please Rate Item</label>
					<span class="caret"></span>
					 	<select ng-model="reviewCtrl.review.stars" required placeholder="Please Rate">
							<option value="1">1 star</option>
							<option value="2">2 stars</option>
							<option value="3">3 stars</option>
							<option value="4">4 stars</option>
							<option value="5">5 stars</option>
					</select>
				</div>
				<br>
				<div class="form-group">
					<textarea ng-model="reviewCtrl.review.body" required placeholder="Please write a review"></textarea>
				</div>
				<div class="form-group">
					<label>by:</label>
					<input ng-model="reviewCtrl.review.author" type="email" required placeholder="youremail@email.com"/>
				</div>
				<input type="submit" value="Submit" />
			</div>
	</div>
</section>