<section>
	<ul class="tabs">
		<li ng-class="{active: panel.isSelected(1)}"> 
			<a href ng-click="panel.selectTab(1)">Description</a>
		</li>
		<li ng-class="{active:panel.isSelected(2)}"> 
			<a href ng-click="panel.selectTab(2)">Specifictions</a>
		</li>
		<li ng-class="{active:panel.isSelected(3)}"> 
			<a href ng-click="panel.selectTab(3)">Reviews</a>
		</li>
	</ul>
	<div class="panel" ng-show="panel.isSelected(1)">
		<h4>Description</h4>
		<p>{{product.description}}</p>
	</div>
	<div class="panel" ng-show="panel.isSelected(2)">
		<h4>Specifications</h4>
		<blockquote>
			<p class="specs"> Shine: {{product.shine}}</p>
			<p class="specs"> Rarity: {{product.rarity}}</p>
			<p class="specs"> Color: {{product.color}}</p>
			<p class="specs"> Faces: {{product.faces}}</p>
		</blockquote>
	</div>
	<div class="panel" ng-show="panel.isSelected(3)">
		<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" ng-submit="$event.preventDefault()" novalidate>
			<h4>Please Rate Product:</h4>
			<blockquote>
				<b> Rating: {{reviewCtrl.review.stars}} out of 5</b>
				<p>{{reviewCtrl.review.body}}</p>
				<cite>-{{reviewCtrl.review.author}}</cite>
			</blockquote>
				<div class="form-group">
					<div class="rate">
						<span class="star-rating clearfix" required>
							<input type="radio" ng-model="reviewCtrl.review.stars"name="rating" value="1"><i></i>
							<input type="radio" ng-model="reviewCtrl.review.stars"name="rating" value="2"><i></i>
							<input type="radio" ng-model="reviewCtrl.review.stars"name="rating" value="3"><i></i>
							<input type="radio" ng-model="reviewCtrl.review.stars"name="rating" value="4"><i></i>
							<input type="radio" ng-model="reviewCtrl.review.stars"name="rating" value="5"><i></i>
						</span>
					</div>
				</div>
				<div class="form-group clearfix">
					<textarea ng-model="reviewCtrl.review.body" required></textarea>
					<label for="write-review" id="review">Please write a review</label>
				</div>
				<div class="form-group clearfix">
					<input ng-model="reviewCtrl.review.author" type="email" ng-model="email" name="email" required/>
					<label for="author" id="email">by:</label>
					<span class="error" ng-show="reviewForm.email.$error.email">Please Enter Valid Email</span>
				</div>
				
				<input ng-disabled="reviewForm.$invalid" type="submit" value="Submit" />
		</form>
								
		<h4>Reviews:</h4>
		<blockquote ng-repeat="review in product.reviews">
			<b> Rating: {{review.stars}} out of 5</b>
			<p>{{review.body}}</p>
			<cite>-{{review.author}}</cite>
		</blockquote>
	</div>
</section>