main {
	width: 90%;
	margin: auto;


	.tabs {
		background-color: transparent;
   		width: 100%;
   		border-bottom: none;
   		padding-left: 0px;

   		li{
   			height: 48px;
   			display: inline-block;
   			text-align: center;
   			width: 32.8%;
   			max-width: 264px;
   			min-width: 72px;
   			

   			a{
   				width: 33%;
   				padding: 10px 12px 18px;
   				font-size: 14px;
   				text-transform: uppercase;
   				text-decoration: none;
   				color: @tab-main;
   				outline: none;
   				
   				&:hover {
	   				background-color: transparent;
	   				border: none;
	   			} //hover

   			} //a

   			&.active {
	   		
	   			a{
	   				color: @nav-accent;
	   				border: none;
	   				border-bottom: 2px solid @nav-accent;

	   				

	   				&:hover, &:focus, &:active {
	   					border: none;
	   					border-bottom: 2px solid @nav-accent;
	   					outline: 0;
	   					-moz-outline-style: none;


	   				} // hover, focus
	   			} //a
	   		} //active
   			

   		} // li
	} // tabs

	.panel-primary {
		height: 400px;

	} //panel-primary

	.list-group{

		width: 500px;
		margin: auto;

		.list-group-item{
			width:100%;
			margin: 20px 0;
			background-color: @gray-lighter;
			-webkit-border-radius: 5px;
	  		-moz-border-radius: 5px;
	   		border-radius: 5px;
	   		box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.4);
	   		
	   		&:first-child{
		   		border-top-left-radius: 5px;
		   		border-top-right-radius: 5px;
	   		} // list-group-item:first-child
   		} //list-group
	} //list-group-item

	
	.img-wrap{
		img{
			padding-left: 31%;
		}
	}

	.thumbnail {
		width: 80px;
		margin: 25px 10px;
	}

	blockquote {
		padding: 0;
		margin: 0;
		border: none;
		font-size: 1em;
	} //blockquote

	.form-group {
		width:100%;
		margin-bottom: 12px;
	} //form-group

	select, textarea {
		width:100%;
		margin-bottom: 12px;
		padding: 16px 0 16px 24px;
		margin-right: 16px;
		border-top: none;
		border-right: none;
		border-bottom: 2px solid #bdbdbd;
		border-left: none;
	
	} //select, textarea
	
	select{
		height: 36px;
		-webkit-appearance: none;  
     	-moz-appearance: none;

		&:active, &:hover, &:focus {
			background-color: @nav-text;
		}

		&:before, &:after {
			border: none;
			background-color:transparent;
		}

		option{
			padding-top: 12px;
			padding-bottom: 12px;
		}
		

	} //select
} //main