// Body
@container: 80%;

//Colors
@nav-base:		#00796B;
@nav-text:		#eeeeee;
@nav-accent: 	lighten(@nav-base, 20%);
@tab-main:		rgba(0, 121, 107, 0.7);
@gray-lighter:	lighten(@nav-base, 93.5%);


// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

@font-family:	'Roboto', sans-serif;
@font-size:     14px;

// navbar
@navbar-height:	60px;

